{% extends "main/base.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register/css/register.css' %}">
{% block content %}
    <form method="post" class="form-group" style= "padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;">
	{% csrf_token %}
		{{form|crispy}}
		<p>Don't have an accoount? Create one <a href="/register">here</a></p>
		<button type="submit" class="btn btn-success">Login</button>	
    </form>
{% endblock %}