{% extends "main/base.html" %}
{% block title %}Add Data{% endblock %}

{% block content %}
<form method="post" action="#">
    {% csrf_token %}
    <button id= 'thing' type="submit", class="clicker" name="save", value="save">Add Data</button>
</form>

{% endblock %}

{% block javascript %}
<script>
    $(document).on('click', '.clicker', function (t) {
    t.preventDefault();
    this.style.color = "blue"
    $.ajax({
    type: 'POST',
    url: '{% url "main:addData" %}',
    data: {
        postid: $(this).val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post',
    },
    success: function (json) {
        var button = document.getElementById('thing');
        if (json['added'] == 'yes') {
        button.style.color = "red"
        }
    },
    error: function (xhr, errmsg, err) {

    }
    });
})
</script>
{% endblock %}